<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <!--proyecto            navegador -->
<form action="/ejemplo2017/producto">

<label>Descripcion</label>
<input type="text" name="descripcion">

<label>fechaVencimiento</label>
<input type="date" name="fechavencimiento">

<label>precio</label>
<input type="number" name="precio">

<label>cantidad</label>
<input type="number" name="cantidad">

<input type="submit" value="Registrar">


</form>

</body>
</html>